body {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

h1 {
    font-size: 4em;
    margin-bottom: 0.5em;
}

p {
    font-size: 1.5em;
    line-height: 1.5;
    max-width: 80%;
    text-align: center;
}

button {
    transition: background-color 0.3s ease;
    font-size: 1.2em;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    background-color: white;
    color: green;
    cursor: pointer;
    margin-top: 2em;
}

    button:hover {
        background-color: lightgray;
    }
